@model Messenger.Models.UserAccessViewModels
@{
    ViewBag.Title = "Login";
}

    <div class="col-md-12 col-md-offset-3">
        <h1 class="text-primary">Welcome to TBT Live Messenger- Beta</h1>
        <br />
    </div>

    <div class="col-md-4 col-md-offset-4">
        <img id="imgAvatar" src="~/Images/Resources/signin_avatar_default.png" />
        <br />
        <h3 id="subtitle1">Sign in</h3>
        <p id="subtitle2">Sign in with you TBT Live Messenger. Don't have one? <a>Sign up.</a></p>
        <br />
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "col-md-5 col-md-offset-4" }))
            {
                <div id="loginControl">
                    <div class="form-group">
                        @Html.LabelFor(x => x.User, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.User, new { @class = "form-control", placeholder="Example555@Hotmail.com" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter your password" })
                    </div>
                    <br />
                    <input id="buttonLogin" type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
<style>
    body {
        background-image: url('../../Images/Resources/Complete_default_bg.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #subtitle1, #subtitle2 {
        text-align: center;
    }

    #subtitle1{
        color: #428bca;
    }

    #loginControl
    {
        margin-left: 33px;
    }

    #imgAvatar {
        margin-left: 120px;
    }

    label{
        font-size: 12px;
    }

    #buttonLogin{
        margin-left: 95px;
    }

</style>

