@model IEnumerable<Messenger.Models.UserViewModels>
@{
    ViewBag.Title = "Index";
}
<br/>
<h1>Welcome @ViewBag.CurrentUserName</h1>
<br/>
<h3>Friends</h3>

@foreach(var friend in Model)
{
    <h4>@Html.ActionLink(string.Format("{0} {1}", friend.FirstName, friend.LastName), "Friend", "Conversation", new { userFrom=ViewBag.CurrentUser, userTo= friend.UserId }, null)</h4>
}

