
@{
    ViewBag.Title = "About";
}

<div id="Container">
    <div id="texts">
        <h1 class="text-primary">TBT Live Messenger <small>Beta</small></h1>
        <h2>Developers</h2>
    </div>
    <div id="developerContainer">
        <div class="row">
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Bryan.jpg" />
                    <div class="caption">
                        <h3>Bryan Vasquez</h3>
                        <p>13-MISM-1-084</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Lisandro.jpeg" />
                    <div class="caption">
                        <h3>Lisandro Marte</h3>
                        <p>13-EISM-1-066</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Jeison.jpeg" />
                    <div class="caption">
                        <h3>Jeison Flores</h3>
                        <p>12-EISM-1-012</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Wilkander.jpeg" />
                    <div class="caption">
                        <h3>Wilkander Rodriguez</h3>
                        <p>12-SISM-1-012</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Massiel.jpeg" />
                    <div class="caption">
                        <h3>Massiel Perez</h3>
                        <p>11-EISN-1-132</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Carmen.jpeg" />
                    <div class="caption">
                        <h3>Carmen Joaquín</h3>
                        <p>12-EISM-1-061</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-md-3 dev">
                <div class="thumbnail">
                    <img src="~/Images/Developers/Carlos.jpeg" />
                    <div class="caption">
                        <h3>Carlos Julio</h3>
                        <p>09-MISN-1-078</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<style>
    #Container {
        display: block;
        min-width: 1000px;
    }

    body {
        background-image: url('../../Images/Resources/Complete_default_bg.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .thumbnail img {
        width: 250px;
        height: 260px;
    }

    #texts h1{
        text-align: center;
        margin-top: 50px;
    }

    #texts h2{
        text-align: center;
        margin-top: 35px;
    }

    .dev{
        margin-top: 50px;
    }

</style>


