@model Messenger.Models.UserAccessViewModels
@{
    ViewBag.Title = "Login";
}
<div id="Container">
    <div id="texts">
        <h1 class="text-primary">TBT Live Messenger <small>Beta</small></h1>
        <img id="imgAvatar" src="~/Images/Resources/signin_avatar_default.png" />
        <br />
        <h3 id="subtitle1">Sign in</h3>
        <p id="subtitle2">Sign in with you TBT Live Messenger. Don't have one? @Html.ActionLink("Sign up","SignUp")</p>
        <br />
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div id="loginControl">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.User, new { @class = "form-control", placeholder = "Example555@Hotmail.com" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter your password" })
                    </div>
                    <input id="buttonLogin" type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>


    <div id="FooterInfo">
        <small>All major design are inspired by Windows Live Messenger which nowadays is <a href="#">Skype</a>. This project was developed by @Html.ActionLink("us","About", "Account"). Need help? click <a href="~/help.html">here</a></small>
    </div>


</div>






<style>

    #Container{
        display: block;
        min-width: 1000px;
    }

    body {
        background-image: url('../../Images/Resources/Complete_default_bg.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #subtitle2 {
       padding-top: 0;
       margin-top: 0;    
    }

    #subtitle1{
        color: navy;
        margin-left: 165px;
        padding-bottom: 0;
        margin-bottom: 5px;  
    }

    #loginControl
    {
        margin-left: 425px;
    }

    #imgAvatar {
        margin-top: 25px;
        margin-left: 150px;
    }

    label{
        font-size: 12px;
    }

    #buttonLogin{
        margin-left: 95px;
    }

    #texts {
        margin-left:350px;
    }

    #FooterInfo{
        position: fixed;
        bottom: 15px;
        left: 300px;
    }
</style>

